<!DOCTYPE html>
<html ng-app="blogApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログシステム</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/style.css">
    
    <!-- Quill Rich Text Editor (CDN) -->
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
</head>
<body>

    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavigationController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/">ブログシステム</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#!/">ホーム</a></li>
                    <li><a href="#!/screen/blog">記事管理</a></li>
                    <!-- 管理者のみコメント管理を表示 -->
                    <li ng-if="isAdmin"><a href="#!/screen/comment">コメント管理</a></li>
                    <!-- 管理者のみカテゴリ管理を表示 -->
                    <li ng-if="isAdmin"><a href="#!/screen/category">カテゴリ管理</a></li>
                    <!-- 管理者のみホーム画面編集を表示 -->
                    <li ng-if="isAdmin" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            設定 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" ng-click="editHomeConfig()">
                                <span class="glyphicon glyphicon-home"></span> ホーム画面編集
                            </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!authenticated"><a href="/register.html"><span class="glyphicon glyphicon-user"></span> 新規登録</a></li>
                    <li ng-if="!authenticated"><a href="/login.html"><span class="glyphicon glyphicon-log-in"></span> ログイン</a></li>
                    <li ng-if="authenticated" class="navbar-text">
                        <span class="glyphicon glyphicon-user"></span> {{ username }} 
                        <span ng-if="isAdmin" class="label label-danger">管理者</span>
                        <span ng-if="!isAdmin" class="label label-info">一般</span>
                    </li>
                    <li ng-if="authenticated"><a href="javascript:void(0)" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> ログアウト</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- メインコンテンツ -->
    <div class="container main-container">
        <div ng-view></div>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    
    <!-- Application Scripts -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/navigationController.js"></script>
    <script src="/scripts/controllers/homeController.js"></script>
    <script src="/scripts/controllers/dynamicScreenController.js"></script>
    <script src="/scripts/controllers/postController.js"></script>
    <script src="/scripts/filters/range.js"></script>
    <!-- Quill JS -->
    <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>

</body>
</html>
